@charset "utf-8";
body{
    background: url("../images/1.jpg") no-repeat 100% 100%;
    animation-name:myfirst;
    animation-duration:20s;
    /*变换时间*/
    animation-delay:5s;
    /*动画开始时间*/
    animation-iteration-count:infinite;
    /*下一周期循环播放*/
    animation-play-state:running;
    /*动画开始运行*/
    background-size: cover;
}
@keyframes myfirst
{
    0%   {background:url("../images/1.jpg") no-repeat 100% 100%; background-size: cover;}
    34%  {background:url("../images/2.jpg") no-repeat 100% 100%; background-size: cover;}
    67%  {background:url("../images/4.jpg") no-repeat 100% 100%; background-size: cover;}
    100% {background:url("../images/1.jpg") no-repeat 100% 100%; background-size: cover;}
}
.form{background: rgba(255,255,255,0.7);width:400px;margin:216px auto;}
#regist{
    background:rgba(220,220,220,0.9);
    width:400px;
    margin-top:-24px;
}
/*阴影*/
.fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
input[type="text"],input[type="password"]{padding-left:26px;}
.checkbox{padding-left:21px;}