<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
    {% load static %}
    <script type="text/javascript" src={% static "drugbank/js/jquery.js" %}></script>
    <script type="text/javascript" src={% static "drugbank/js/jquery-ui.min.js" %}></script>
    <link href={% static "drugbank/css/bootstrap.min.css" %} rel="stylesheet">
    <link rel="stylesheet" href={% static "drugbank/css/bootstrap.min.css" %}>
    <script src={% static "drugbank/js/bootstrap.min.js" %}></script>
    <link rel="stylesheet" type="text/css" href={% static "drugbank/css/default.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "drugbank/css/search.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "drugbank/css/search.css" %}>
    <script src={% static "drugbank/dist/handsontable.full.min.js" %}></script>
    <link href={% static "drugbank/dist/handsontable.full.min.css" %} rel="stylesheet" media="screen">
    <script src={% static "drugbank/js/default.js" %} type="text/javascript"></script>
    <script src={%  static "drugbank/js/search.js" %} type="text/javascript"></script>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #2e68aa" >
    <div class="container-fluid">
        <div class="navbar-header navbar-left">
            <a class="navbar-brand" href="index.html">
                <img alt="Brand" src={% static "drugbank/images/logo.png" %} height="42" width="63" style="margin-top: -0.4em; margin-left: -0.4em;">
            </a>
            <a class="navbar-brand" href="index.html">
                <p style="color: #ffffff; font-size:32px; font-family: 'Frutiger LT 95 Ultra Black';"> Drug DownloadBase</p>
            </a>
        </div>
        <div class="btn-group navbar-right row">
            <button type="button" class="menu btn btn-primary dropdown-toggle col-md-offset-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Browse
            </button>
            <button type="button" class="menu btn btn-primary dropdown-toggle col-md-offset-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Search
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle menu col-md-offset-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download
            </button>
            <button type="button" class="menu btn btn-primary dropdown-toggle col-md-offset-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Help
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle menu col-md-offset-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </button>
        </div>
    </div>
</nav>
<div class="search2 container-fluid">
    <div class="row" style="margin-top: 1%;">
        <p class="col-md-offset-3" style="color:#ffffff; font-family: 'Gill Sans MT'; font-size: 3em    ">How to Search?</p>
    </div>
    <div class="row btn-group container">
        <div class="srhbyid col-md-offset-4 col-md-1">
            <button class="btn-success btn-lg byidb" value="1" id="4">
                DrugBank
            </button>
        </div>
        <div class="srhbyname col-md-offset-1 col-md-1">
            <button class="btn-success btn-lg byidb" value="1" id="2">
                by Name
            </button>
        </div>
    </div>
    <br><br>
</div>
<div id="bgdiv">
<canvas id="canvas"></canvas>
<script src={% static "drugbank/js/background.js" %} type="text/javascript"></script>
<div class="container-fluid tablef">
    <div class="container-fluid">
    <div class="row srcbyid-d  srcdown col-md-offset-1 col-md-8">
        <br>
    {% for item2 in drugbank_list %}
        <div class="col-md-1 btn-group">
            <button class="btn btn-primary opbutton" value="1" id=drugbank_{{ item2.graph_name }}>{{ item2.graph_name }}</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id=drugbank_{{ item2.graph_name }}-sel value="1">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                {% for item in item2.graph_name %}
                    <li class="minop id-option1-list" value="0" id=drugbank_{{ item2.graph_name }}-{{item.field_item_name }}><a href="#" data-stopPropagation="true">{{ item.field_item_name }}</a></li>
                    <script></script>
                {% endfor %}
            </ul>
        </div>
    (% endfor %}
        <br>
    </div>
    </div>
    <div class="container-fluid">
    <div class="row srcbyname-d  srcdown col-md-offset-1 col-md-8">
        <br>
        <div class="col-md-offset-3 btn-group">
            <button class="btn-primary opbutton btn-lg" value="1" id="name-option1">Option 1</button>
        </div>
        <div class="col-md-offset-1 btn-group">
            <button class="btn-primary opbutton btn-lg" value="1" id="name-option2">Option 2</button>
        </div>
        <br>
    </div>
    </div>
<div class="container row"><br><div class="table-con"><div id="table"></div></div><br></div>
</div>
</div>
<div style="background-color: #455562;" class="myfooter">
    <div class="container">
        <div class="copyrights">
            "Copyright 2018" <a href="http://www.bioinfotech.cn" onmouseover="">BBDM Lab</a>
            ", Web Server developed by Wenzheng Guo, Xujie Wang (Developer), Ruoqi Liu (Designer) and Xiang Yue (Chief)."</br>
            "Citation: Predicting Drug-Disease Associations by using the Similarity Constrained Matrix Factorization"</br>
            Contact：Wen Zhang <a href="mailto:zhangwen@whu.edu.cn">zhangwen@whu.edu.cn</a>
        </div>
    </div>
</div>
</body>
</html>